#floatHeader a{
    color: #cf3;
    text-decoration: none;
}

#floatHeader a:hover{
    color: #df3;
    text-decoration: underline;
}

#floatHeader a.selected{
    text-weight: bold;
    color: #ff3;/* Yellow */
}

.transparent_class {
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

#floatHeader{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    padding: 5px 0px 8px 0px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    z-index: 1;
}

#heading-content{
    margin: 0 auto;
    width: 950px;
    z-index: 1;
    z-index: 1;
    position: relative;
    color: #ffc;
    font-size: 17px;
}

#heading-back{
    background-color: #010;
    width: 100%;
    height: 33px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.heading-nav{
    float: left;
}

.heading-span{
    margin: 0px 5px 0px 5px;
    float: left;
}

.heading-ava{
    float: right;
    margin-left: 8px;
}

.search{
    float:right;
    padding-top:2px;
    position:relative;
}
.search .input{
    padding-top:2px;
    height:16px;
    width: 180px;
    border: 1px solid #ff3;/* Yellow */
    font-size:14px;
    background:#fff url(../images/search_btn.gif) no-repeat right 0;
}
.label{
    color:#ccc;
    position:absolute;
    left:5px;top:0px;
    display:block;
    height:22px;
    line-height:22px;
    font-size:12px;
}
span.submit{
    cursor:pointer;
    position:absolute;
    left:171px;
    top:6px;
    width:20px;
    height:20px;
    text-indent:-999em;
}
