#loginDiv{
    width: 250px;
    padding: 30px;
    margin: 50px;
    background-color: #5a7605;
    border: 1px solid;
    border-color: #cf3;
    float: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #cf3;
    -webkit-box-shadow: inset 0px 0px 5px 2px #ccff33;
    -moz-box-shadow: inset 0px 0px 5px 2px #ccff33;
    box-shadow: inset 0px 0px 5px 2px #ccff33;
}

#loginForm{
    margin: 0 auto;
}

table{
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
    margin: 20px;
}

#buttonTable{
    margin: 2px;
}

#otlDiv{
    float: left;
    margin: 20px 40px 20px 40px;
}

#main_content{
    display: block;
}

#footer{
    margin-top: 350px;
}
